* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Titillium';
  position: relative;
}

button {
  height: 2rem;
  font-family: 'Titillium';
  font-weight: 800;
  background-color: #616161;
  border: 1px solid black;
  color: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #b4b4b4;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}

/* HEADER */

.header {
  padding: 20px;
  background-color: #616161;
  color: #f8f8f8;
  font-family: 'Lobster';
  letter-spacing: 3px;
  font-size: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header nav > * {
  font-family: 'Titillium';
  color: #f8f8f8;
}

/* APP */

.book-app {
  /* height: 90vh; */
  background-color: #f8f8f8;
}
/* Filter */

.book-filter {
  padding: 20px;
  background-color: #b4b4b4;
  display: flex;
  align-items: center;
}

.book-filter > * {
  padding: 10px;
}

.book-filter input {
  width: 150px;
  border-radius: 7px;
  border-color: black;
}
/* LIST */

.book-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* PREVIEW */

.book-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-preview-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.book-preview-container a {
  color: black;
  transition: color 0.8s ease-in;
}

.book-preview-container a:hover {
  color: white;
}

.book-preview-container img {
  max-height: 250px;
  transition: transform 0.8s;
}

.book-preview-container img:hover {
  transform: scale(1.1);
  box-shadow: #616161;
}

/* DETAILS */

.book-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
}

.book-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.details-main-box {
  /* width: 60%; */
  display: flex;
  gap: 20px;
}

.details-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.book-details h3 {
  font-size: 2rem;
}

.book-details .authors-line {
  display: flex;
}

.image-container {
  flex: 1;
}
.image-container img {
  max-height: 400px;
}

.close-details-container {
  display: flex;
  justify-content: center;
}

.close-details-container button {
  width: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.green {
  color: green;
}

.red {
  color: red;
}

.user-msg {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.success {
  background-color: rgb(37, 206, 37);
}

.error {
  background-color: red;
}

.reviews {
  display: flex;
  margin: 20px 0;
  gap: 10px;
  flex-wrap: wrap;
}

.reviews-container {
  padding: 10px;
  box-shadow: 0 0 0 2px #616161;
  border-radius: 8px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.long-text p {
  overflow-wrap: break-word;
}

.long-text button {
  margin-bottom: 5px;
}

.delete-review-btn {
  width: 1.5rem;
  height: 1.5rem;
}

.review-add {
  background-color: #b4b4b4;
  padding: 20px;
}

.review-add h4 {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 25px;
}

.review-add form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page {
  height: 90vh;
  background-image: url('../img/home-bcg.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.quote {
  position: absolute;
  top: 100px;
  left: 100px;
}

.quote h1 {
  font-size: 2rem;
}

.about {
  display: flex;
}

.about img {
  max-height: 350px;
}

/* Add Book */

.book-add {
  padding: 20px 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

input[type='text'] {
  height: 30px;
  width: 130px;
  border-radius: 8px;
  border: 1px solid black;
  transition: width 0.4s ease-in-out;
}

input[type='text']:focus {
  width: 80%;
}

.result-container p {
  display: inline-block;
}

/* FONTS */

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}
